{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Fais-P1</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- responsive-->
      <link rel="stylesheet" href=" {% static 'css/responsive.css' %}">
      <!-- awesome fontfamily -->

      <!--[if lt IE 9]>
      <script src=" {% static 'https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js'  %}"></script>
      <script src=" {% static 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js'  %}"></script><![endif]-->

   </head>

   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="" /></div>
      </div>
      <!-- end loader -->
      <div id="mySidepanel" class="sidepanel">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
         <a class="active" href="{% url 'cameraapp:view' %}">Home</a>
         <a href="{% url 'cameraapp:view' %}">About</a>
         <a href="{% url 'cameraapp:view' %}">Company</a>
         <a href="{% url 'cartapp:cart_detail' %}">My Cart</a>
         <a href="{% url 'cameraapp:view' %}">Testimonial</a>
        <a href="{% url 'cameraapp:view' %}">Contact Us</a>
      </div>
      <div class="padd_30">
      <div class="full_bf">
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="head-top">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="logo">
                        <a href="index.html">Cyber Fence</a>
                     </div>
                  </div>
                  <div class="col-sm-9">
                     <ul class="email text_align_right">
                        <li> <button class="openbtn" onclick="openNav()"><img src="{% static 'images/menu_btn.png' %}"></button></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header -->
      <!-- start slider section -->
      <div  class=" banner_main">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container-max">
                              <div class="carousel-caption relative">
                                <div class="row">
                                   <div class="col-md-6">
                                     <div class="bluid">
                                      <h1>Security  <br><span>Anywhere CCTV
                                       Camera</span></h1>
                                      <a class="read_more" href="{% url 'cameraapp:view' %}">Read More </a>
                                      <a class="read_more" href="{% url 'cameraapp:view' %}">Contact Us </a>
                                     </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="pan_img">
                                         <figure><img src="{% static 'images/top_img.png' %}" alt="#"/></figure>
                                      </div>
                                   </div>
                                </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container-max">
                              <div class="carousel-caption relative">
                               <div class="row">
                                   <div class="col-md-6">
                                     <div class="bluid">
                                      <h1>Security  <br><span>Anywhere CCTV
                                       Camera</span></h1>
                                      <a class="read_more" href="{% url 'cameraapp:view' %}">Read More </a>
                                      <a class="read_more" href="{% url 'cameraapp:view' %}">Contact Us </a>
                                     </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="pan_img">
                                         <figure><img src="{% static 'images/top_img.png' %}" alt="#"/></figure>
                                      </div>
                                   </div>
                                </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container-max">
                              <div class="carousel-caption relative">
                                <div class="row">
                                   <div class="col-md-6">
                                     <div class="bluid">
                                      <h1>Security  <br><span>Anywhere CCTV
                                       Camera</span></h1>
                                      <a class="read_more" href="Javascript:void(0)">Read More </a>
                                      <a class="read_more" href="contact.html">Contact Us </a>
                                     </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="pan_img">
                                         <figure><img src="{% static 'images/top_img.png' %}" alt="#"/></figure>
                                      </div>
                                   </div>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <i class="fa fa-angle-left" aria-hidden="true"></i>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
              </div>
            </div>
      </div>
      <!-- end slider section -->
<script src="{% static 'js/chatbot' %}"></script>
      <!-- about -->
      <div  class="about">
         <div class="container">
            <div class="row d_flex d_grid">
               <div class="col-md-6">
                  <div class="about_img">
                     <figure><img class="img_responsive" src="{% static 'images/about1.png' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-5 offset-md-1 order_1_mobile">
                  <div class="titlepage text_align_left">
                       <h2>About cctv</h2>
                      <p>Precarious incidences reported in recent times has triggered security concerns. Organizations, Institutions, Residential complexes are looking for feasible surveillance solution, that can address their security concerns and offer total peace of mind. Cyber Fence with over three decades of networking expertise offers integrated surveillance solution with its CCTV & IP surveillance products.

Simplifying technology has always been a core philosophy at Cyber Fence. So be it the IP cameras based on modern plug-and-play technology that are extremely easy to install or the traditional Analog HD CCTV, Cyber Fence is well equipped to cater to the needs of residential, SOHO, SME, Banking, Hospitality or any other commercial establishmen</p>
                       <a class="read_more" href="{% url 'cameraapp:view' %}">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!-- cameras -->
      <div class="cameras">
         <div class="container-max">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Our CCTV Cameras</h2>
                  </div>
               </div>
            </div>
                  <div class="row">
                      {% for product in product %}
                     <div class="col-md-4">

                        <div id="ho_bg" class="cameras_text">
                            <div class="cameras_img text_align_center">
                              <figure><a href="{% url 'cartapp:add_cart' product.id %} "><img src="{{product.img.url}}" alt="#" width=200px;, height=150px;></a></figure>
                            </div>
                            <p>Price<br><span>₹ {{product.price}}</span></p>
                           <h3>{{product.name}}</h3>
                           <a class="read_more" href="{% url 'cartapp:add_cart' product.id %} ">Buy Now</a>
                        </div>

                     </div>
                       {% endfor %}

                     <div class="col-md-12">
                       <div class="see_camera">
                          <a class="read_more" href="{% url 'cameraapp:view' %}">See More</a>
                       </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end cameras -->
      <!-- projects -->
      <div class="choose">
        <div class="choose_bg">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Why choose Cyber Fence</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-3 col-sm-6">
                  <div class="comp text_align_left">
                    <i><img src="{% static 'images/cho_icon1.png' %}" alt="#"/></i>
                    <h3>1000+</h3>
                    <span>PROJECTS</span>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="comp text_align_left">
                    <i><img src="{% static 'images/cho_icon2.png' %}" alt="#"/></i>
                    <h3>1000+</h3>
                    <span>Lock Installed</span>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="comp text_align_left">
                    <i><img src="{% static 'images/cho_icon3.png' %}" alt="#"/></i>
                    <h3>1000+</h3>
                    <span> CCTV Sales</span>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="comp text_align_left">
                    <i><img src="{% static 'images/cho_icon4.png' %}" alt="#"/></i>
                    <h3>1000+</h3>
                    <span>Happy Customers</span>
                  </div>
               </div>
            </div>
         </div>
        </div>
        <div class="container-with">
          <div class="row">
            <div class="col-md-12">
              <div class="cctv">
                <figure><img src="{% static 'images/cctv.png' %}" alt="#"/></figure>
                <a class="read_more" href="javascript:void(0)">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end choose -->
       <!-- clients -->
      <div class="clients">
         <div class="clients_bg">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="titlepage text_align_center">
                        <h2>Get to Know Our Founders !</h2>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- start slider section -->

 <div id="testi" class="carousel slide clients_banner" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#testi" data-slide-to="0" class="active"></li>
               <li data-target="#testi" data-slide-to="1"></li>
               <li data-target="#testi" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="carousel-caption testi">
                        <div class="row d_flex">
                           <div class="col-md-12">
                            <div class="cli_flef">
                              <div class="pro_file">
                                 <i><img class="text_align_right" src="{% static 'images/test2.png' %}" alt="#" > </i>
                              </div>
                              <div class="test_box text_align_left">
                                 <h4>Anver Ali P K <img src="media/founders/ter.png" ></h4>
                                 <p>Quality Services gives us exponential growth ,so We'll never go for a compermise !</p>
                              </div>
                            </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                {% for review in review %}
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption testi">
                        <div class="row d_flex">
                           <div class="col-md-12">
                            <div class="cli_flef">
                              <div class="pro_file">
                                 <i><img src="{{review.image.url}}" alt="#"/></i>
                              </div>
                              <div class="test_box text_align_left">
                                 <h4>{{review.name}} <img src="media/founders/ter.png" ></h4>
                                  <p>{{review.desc}}</p>
                              </div>
                            </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                 {% endfor %}

            <a class="carousel-control-prev" href="#testi" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testi" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
            </a>
         </div>
      </div>

      <!-- end clients -->
      <!-- contact -->
      <div class="contact">
         <div class="container">
           <div class="row">
             <div class="col-md-12">
                  <div class="titlepage text_align_center">
                      <h3><i>Got Queries?</i></h3> <br>

                      <h2><a href="{% url 'cameraapp:registration' %}">Request a call back!</a></h2>
                  </div>
               </div>
           </div>

<br>
               <div>
                 <div class="contact_img" align="center">
                   <figure><a href="{% url 'cameraapp:registration' %}"><img src="{% static 'images/giphy.gif' %}" alt="#" /> </a> </figure>
                 </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact -->
      <!-- footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">

                  <div class="col-md-3 col-sm-6">
                     <div class="Informa">
                        <a class="logo_footer" href="index.html">Cyber Fence</a>
          <p> Manage risk and accelerate your business innovation and security services at the same pace</p>                     </div>
                  </div>
                  <div class="col-md-3  col-sm-6">
                     <div class="Informa helpful">
                        <h3>Services</h3>
                        <ul>
                           <li><a href="{% url 'cameraapp:view' %}">Home</a></li>
                           <li><a href="{% url 'cameraapp:view' %}">About</a></li>
                           <li><a href="{% url 'cameraapp:view' %}">Company</a></li>
                           <li><a href="{% url 'cameraapp:view' %}">CCTV</a></li>
                           <li><a href="{% url 'cameraapp:view' %}">Testimonial</a></li>
                        </ul>
                     </div>
                  </div>

                  <div class="col-md-3 col-sm-6">
                     <div class="Informa conta">
                        <h3>Contact</h3>
                        <ul>

                           <li> <a href="Javascript:void(0)"><i class="fa fa-phone" aria-hidden="true"></i> +91 9847911503
                              </a>
                           </li>
                           <li> <a href="Javascript:void(0)"> <i class="fa fa-envelope" aria-hidden="true"></i> anwer@gmail.com
                              </a>
                           </li>
                        </ul>
                     </div>
                     <ul class="social_icon text_align_center">
                        <li> <a href="{% url 'cameraapp:view' %}"><i class="fa fa-facebook-f"></i></a></li>
                        <li> <a href="{% url 'cameraapp:view' %}"><i class="fa fa-twitter"></i></a></li>
                        <li> <a href="{% url 'cameraapp:view' %}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li> <a href="{% url 'cameraapp:view' %}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
                   <div class="col-md-3 col-sm-6">
                      <div class="Informa helpful">
                        <h3>NewsLetter</h3>
                         <form method="post"  class="newslatter_form">
                             {% csrf_token %}
                        <button class="subs_btn" ><a href="{% url 'cameraapp:subscribe' %}">Subscribe</a> </button>
                     </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright text_align_center">
               <div class="container">
                  <div class="row">
                     <div class="col-md-10 offset-md-1">
                        <p>© 2022 All Rights Reserved. by <a href="{% url 'cameraapp:view' %}"> Fais</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/chat.js' %}" type="text/javascript"> </script>
       <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>
